@()

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>
  
    <header class="hd sbgc-1 txtc">
      <div class="content vh-1"></div>
    </header>
    <main>
      <section class="txtc">
        <div class="pvl">
          <h1>KreativeHoveder</h1>
          <figure>
            <img id="profile-img" src="img/martin-stub-kreativehoveder.svg" alt="Kreativt billede af Dmytro Pastovenskyi" width="200" height="200">
          </figure>
          <h2 class="pvl">v/Dmytro Pastovenskyi</h2>
        </div>
      </section>
      <section>
        <div class="table fc-1 txtc">
          <div class="infobox s1of2 bgc-1">
            <div class="pam">
              <h1>Firma</h1>
              <p>
                KreativeHoveder v/Dmytro Pastovenskyi
                <br />
                Æblerosestien 3
                <br />
                3460 Birkerød
                <br />
                martin.stub@@kreativehoveder.dk
                <br />
                CVR: 27535127
              </p>
            </div>
          </div>
          <div class="infobox s1of2 bgc-2 fc-1">
            <div class="pam">
              <h1>Kompetencer</h1>
              <p id="kompetencer">
                <span id="platforms">WordPress, Drupal 7</span>
                <br />
                <br />
                <span id="languages">SASS/CSS/OOCSS, HTML, JavaScript, PHP, Bash, Python, Git/Github, IBM Notes, Apache Velocity</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="contactbox pal txtc bgc-3 fc-1">
          <h1>Kontakt</h1>
          <p>
            <a href="mailto:martin.stub@@kreativehoveder.dk" title="Skriv e-mail">E-mail</a> / 
            <a href="https://www.linkedin.com/in/martinstub/" title="Gå til LinkedIn">LinkedIn</a> / 
            <a href="https://twitter.com/mstubben" title="Gå til Twitter">Twitter</a> / 
            <a href="https://github.com/stubben" title="Gå til Github">Github</a>
          </p>
          </div>
      </footer>
    </main>
}
